@import "imports";
@import "variables";

.bs-glyphicons {
  text-align: center;
  .glyphicon {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 48px;
  }
  .glyphicon-class {
    display: block;
  }
}
