<h1 class="page-header">Hello lata-angular-webpack</h1>

<div class="row">

  <div class="col-xs-12 col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="../../assets/images/lata.png" alt="">
    </div>
  </div>

  <div class="col-xs-6 col-sm-3 col-md-2" ng-repeat="name in home.glyphiconNames track by $index">
    <div class="thumbnail bs-glyphicons">
      <span class="glyphicon {{name}}" aria-hidden="true"></span>
      <span class="glyphicon-class">{{name}}</span>
    </div>
  </div>

</div>

<div class="center-block" style="max-width:400px">
  <button type="button" class="btn btn-primary btn-lg btn-block"ng-click="home.changeName()">Change</button>
</div>
